.container-fluid>.row>:first-child{
	margin-top: 80px;
}

label{
	color: #676767;
	font-weight: 600;
	font-size: medium;
	letter-spacing: 1px;
}

.form-group{
	margin-bottom: 20px;
}

.navbar{
	background-color: #8e855e;
	/* color: #bbbbbb; */
}

.pagina{
	margin-top: 8px;
}

.navbar-header span{
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 1px;
}

.btn-nav-wrapper{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #5b819c;
	height: 50px;
}

.btn-transparent span{
	font-size: 8px;
}

.navbar{
	border: none;
	position: fixed;
	top:0;
	z-index:1000;
}

.main{
	margin-top: 20px;
}

.main h4{
	color: rgb(100,100,100);
	font-size: 24px;
}

.texto-basico{
	font-size: large;
	color: #333333;
}

.titulo-pagina{
	color: rgb(150,150,150);
}


.login-box{
	margin-top: 80px;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #83c0ff;
        box-shadow: 0 1px 0 0 #009fff;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #0078d0;
}

.side-nav{
	box-shadow: 2px 0px 5px #888888;
}

.side-nav .titulo{
	color: black;
	padding-left: 10px;
}

.sidebar-menu{
	display: block;
}

.sidebar-menu li{
	display: block;
}

.waves-effect.waves-blue .waves-ripple {

	background-color: #0098ff;
}

.conteudo{
	margin-top: 70px;
}

.collapsible-header{
	color: black;
}
@media (min-width: 993px) {
	.side-nav{
		margin-top: 65px;
		box-shadow: 2px 0px 5px #888888;
	}
}

@media (min-width: 993px) {
	.main{
		margin-left: 310px !important;
	}
}
