.container-fluid>.row>:first-child{
	margin-top: 80px;
}

label{
	color: #676767;
	font-weight: 600;
	font-size: medium;
	letter-spacing: 1px;
}

.form-group{
	margin-bottom: 20px;
}

.navbar{
	background-color: #fffc9f;
	color: #bbbbbb;
}

.pagina{
	margin-top: 8px;
}

.navbar-header span{
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 1px;
}

.btn-nav-wrapper{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #5b819c;
	height: 50px;
}

.btn-transparent span{
	font-size: 8px;
}

.navbar{
	border: none;
}

.main{
	margin-top: 20px;
}

.main h4{
	color: rgb(100,100,100);
	font-size: 24px;
}