<div class="row">
  <ul id="nav-mobile" class="side-nav fixed">
      <li class="titulo"><h5>Segmento Farmacoterpeutico</h5></li>
      <li class="no-padding">
    		<ul class="collapsible" data-collapsible="accordion" watch>
        		<li>
            		<div class="collapsible-header active waves-effect waves-yellow">Área do farmaceutico</div>
            		<div class="no-padding collapsible-body">
                  <ul class="sidebar-menu">
                    <li class="block waves-effect waves-yellow"><a ui-sref="homeFarmaceutico">Home</a></li>
                    <li class="block waves-effect waves-yellow"><a ui-sref="novoPaciente">Novo Paciente</a></li>
                    <li class="block waves-effect waves-yellow"><a href="#">Dados pessoais</a></li>
                  </ul>
                </div>
        		</li>
    		</ul>
      </li>
  </ul>
  <div class="">
    <div class="main col s12 l8">
      <br>
      <h4 class="titulo-pagina">Listagem dos pacientes</h4>
    	<br>
    	<table class="centered responsive-table">
    		<thead>
    			<tr>
          	<th>Nome</th>
    	      	<th>Data de acesso</th>
    		    	<th>Ações</th>
    		 		</tr>
    		</thead>

    		<tr>
    		  <td>Thales Silveira</td>
    		  <td>04/03/2017</td>
    		  <td><button class="btn yellow darken-1 waves-effect waves-light">Detalhes</button></td>
    		</tr>

    		<tr>
    		  <td>Jilian Nunes</td>
    		  <td>04/03/2017</td>
    		  <td><button class="btn yellow darken-1 waves-effect waves-light">Detalhes</button></td>
    		</tr>
    		<tr>
    		  <td>Ruan Lemos</td>
    		  <td>04/03/2017</td>
    		  <td><button class="btn yellow darken-1 waves-effect waves-light">Detalhes</button></td>
    		</tr>
    		<tr>
    		  <td>Thales Silveira</td>
    		  <td>04/03/2017</td>
    		  <td><button class="btn yellow darken-1 waves-effect waves-light">Detalhes</button></td>
    		</tr>
    		<tr>
    		  <td>Jilian Nunes</td>
    		  <td>04/03/2017</td>
    		  <td><button class="btn yellow darken-1 waves-effect waves-light">Detalhes</button></td>
    		</tr>
        <tr>
    		  <td>Ruan Lemos</td>
    		  <td>04/03/2017</td>
    		  <td><button class="btn yellow darken-1 waves-effect waves-light">Detalhes</button></td>
    		</tr>
    </table>
    </div>
</div>
