<div class="row">
	<div class="texto-basico">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, odit excepturi aliquam repudiandae assumenda, fugit, mollitia blanditiis ratione reprehenderit iste deleniti quod voluptatem ad totam quas. Doloribus quod deleniti
		</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dolore assumenda, at officia earum adipisci corrupti aut quos tenetur vitae veniam nobis id consequatur 	repellendus necessitatibus facilis, a quisquam nulla!</p>	
	</div>		
</div>
<div class="row">
	<div class="center-align">
		<button class="btn grey lighten-5 waves-effect waves-yellow"><a href="#/farmaceutico">Sou Farmaceutico</a></button>
		<button class="btn grey lighten-5 waves-effect waves-yellow"><a href="#/paciente">Sou Paciente</a></button>	
	</div>
</div>			
	