<div class="container">
	<div class="row">	
		<div class="login-box col offset-m4 m4">		
			<form action="">				
				<div class="input-field col s12">
					<label for="login">Login</label>
					<input id="login" type="text" class="">
				</div>

				<div class="input-field col s12">
					<label for="senha">Senha</label>
					<input id="senha" type="password" class="">
				</div>

				<div class="input-field col s12">
					<input value="Entrar"type="submit" class="btn blue darken-1 waves-effect">
				</div>

			</form>
		</div>		
	</div>
	
</div>	