	
<div class="row">
	<ul id="sidebar" class="side-nav fixed">
      <li class="titulo"><h5>Segmento Farmacoterpeutico</h5></li>
      <li class="no-padding">
    		<ul class="collapsible" data-collapsible="accordion" watch>
        		
        		<li>
            		<div class="collapsible-header active waves-effect waves-blue" watch>Novo Paciente</div>
            		<div class="no-padding collapsible-body">
                    <ul class="sidebar-menu">
                    	<li class="block waves-effect waves-blue"><a ng-click="formViewSet('dadosPessoais')">Dados pessoais</a></li>
                    	<li class="block waves-effect waves-blue"><a ng-click="formViewSet('contato')">Contato</a></li>
                    	<li class="block waves-effect waves-blue"><a href="#"></a></li>
                  	</ul>
                </div>
        		</li>
    		</ul>
      </li>
  </ul>

	<div class="main col l8 s12">		
		<h4>Novo Paciente</h4>	
		<br>
		<form action="">
			<div ng-show="form['dadosPessoais']" class="dadosPessoais">
				
				<div class="input-field col m6 s12">
					<label for="nomeCompleto">Nome Completo</label>
					<input id="nomeCompleto" type="text" class="">
				</div>
				
				<div class="input-field col m6 s12">
					<label for="nascimento">Data de nascimento</label>
					<input type="text" input-date ng-model="nascimento" id="nascimento" class="">
				</div>

				<div class="input-field col m6 s12">
					
					<select class="" name="raca" material-select id="raca">
						<option value="">Selecione</option>
						<option value="Branca">Branca</option>
						<option value="Indígena">Indígena</option>
						<option value="Negra">Negra</option>
						<option value="Pardo">Pardo</option>
					</select>
					<label for="raca">Raça</label>
				</div>	

				<div class="input-field col m6 s12">
					<label for="cep">Cep</label>
					<input name="cep" id="cep" type="text">					
				</div>

				<div class="input-field col m6 s12">
					
					<select class="estado" name="estado" material-select id="estado">
						<option value="">Selecione</option>
						<option value="AC">Acre</option>
						<option value="AL">Alagoas</option>
						<option value="AP">Amapá</option>
						<option value="AM">Amazonas</option>
						<option value="BA">Bahia</option>
						<option value="CE">Ceará</option>
						<option value="DF">Distrito Federal</option>
						<option value="ES">Espírito Santo</option>
						<option value="GO">Goiás</option>
						<option value="MA">Maranhão</option>
						<option value="MT">Mato Grosso</option>
						<option value="MS">Mato Grosso do Sul</option>
						<option value="MG">Minas Gerais</option>
						<option value="PA">Pará</option>
						<option value="PB">Paraíba</option>
						<option value="PR">Paraná</option>
						<option value="PE">Pernambuco</option>
						<option value="PI">Piauí</option>
						<option value="RJ">Rio de Janeiro</option>
						<option value="RN">Rio Grande do Norte</option>
						<option value="RS">Rio Grande do Sul</option>
						<option value="RO">Rondônia</option>
						<option value="RR">Roraima</option>
						<option value="SC">Santa Catarina</option>
						<option value="SP">São Paulo</option>
						<option value="SE">Sergipe</option>
						<option value="TO">Tocantins</option>
					</select>
					<label for="estado">Estado</label>
				</div>


				<div class="input-field col m6 s12">
					
					<select material-select class="" name="cidade" id="cidade">
						<option value="">Selecione</option>
						<option value="cidade">Cidade</option>						
					</select>
					<label for="cidade">Cidade</label>
				</div>

				<div class="input-field col m6 s12">
					<label for="bairro">Bairro</label>
					<input type="text" name="bairro" id="bairro">
					
				</div>

				<div class="input-field col m6 s12">
					<label for="rua">Rua</label>
					<input type="text" id="rua" name="rua">
					
				</div>
			
			</div>

			<div class="contato" ng-show="form['contato']">			
				<div class="input-field col m6 s12">
					<label for="telefoneResidencial">Telefone residêncial</label>
					<input type="text" id="telefoneResidencial" name="telefoneResidencial">
					
				</div>

				<div class="input-field col m6 s12">
					<label for="telefoneCeluluar">Telefone Celular</label>
					<input type="text" id="telefoneCeluluar" name="telefoneCeluluar">
					
				</div>

				<div class="input-field col m6 s12">
					<label for="email">E-mail</label>
					<input type="text" id="email" name="email">
					
				</div>

			</div>
			
		</form>	

		<div class="col s12">
			<div class="right">
				<button ng-click="formView(false)" ng-disabled="form['dadosPessoais']" class="btn yellow waves-effect waves-light darken-1">Anterior</button>
				<button ng-click="formView(true)" ng-disabled="form['contato']" class="btn yellow waves-light darken-1 waves-effect">Próximo</button>	
			</div>
		</div>
	</div>
</div>
